* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

main {
  max-width: 800px;
  min-width: 320px;
  width: 100%;
  margin: 40px auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
}

header, footer {
  min-height: 100px;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(12, 120, 214);
  color: white;
  font-size: 14px;
}

header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(12, 120, 214);
}

.logo {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 300px;
  border-bottom-right-radius: 100px;
}

.fa-money-bill-alt {
  font-size: 64px;
  color: rgb(53, 184, 184);
}

.errorMessage {
  margin: 0 auto;
  font-size: 200%;
}

@media(max-width:400px) and (orientation: portrait) {
  main {
    margin: 20px auto;
  }
}

@media(max-height:767px) and (orientation: landscape) {
  header, footer {
    min-height: 30px;
  }
  main {
    max-width: 90%;
    margin: 10px auto;
  }
  header .logo {
    height: 30px;
  }
  .logo i {
    font-size: 27px;
  }
}

@media(max-height:400px) and (orientation: landscape) {
  header, footer {
    min-height: 30px;
  }
  main {
    max-width: 90%;
    margin: 5px auto;
  }
  table {
    max-width: 80%;
  }
  header .logo {
    height: 30px;
  }
  .logo i {
    font-size: 27px;
  }
}